github "JayZhao/CocoaAsyncSocket" "master"
github "CocoaLumberjack/CocoaLumberjack" ~> 3.0.0
github "zhuhaow/Sodium-framework" "v1.0.10.1"
github "SwiftyJSON/SwiftyJSON" ~> 3.1
github "JayZhao/tun2socks" "master"
github "facebook/KVOController" ~> 1.2
